%heading {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

@mixin heading ($font-size: 16px) {
	@extend %heading;
	font-size: emCalc($font-size);
}

h1 {
	@include heading(40px);
}

h2 {
	@include heading(36px);
	font-weight: 300;
}

h3 {
	@include heading(26px);
}

h4 {
	@include heading(20px);
	color: #000;
}

h5 {
	@include heading(20px);
	font-weight: 300;
	color: #000;
}

h6 {
	@include heading(18px);
	color: #000;
}

p {
	margin: emCalc(10px) 0;
	font-size: emCalc(15px);
	font-weight: 300;
}


blockquote {
	padding: 10px 10px 10px 20px;
	margin-right: 20px;
	border-left: 5px solid #bababa;
	color: #555555;
	font-size: emCalc(14px);
	font-weight: 300;
	font-style: italic;
}

.page__title {
	margin: 0 0 emCalc(10px) 0;
	font-family: 'Oswald', sans-serif;
	font-size: emCalc(60px);
}

.section__title {
	margin: emCalc(20px) 0 emCalc(10px);
	border-bottom: 1px solid #fff;
	font-size: emCalc(30px);
	font-weight: 600;
}

.section__subtitle {
	margin: emCalc(10px) 0 emCalc(5px);
	font-size: emCalc(20px);
	font-weight: 300;
}