.page__title {
	margin: 0 0 emCalc(10px) 0;
	font-family: 'Oswald', sans-serif;
	font-size: emCalc(60px);
}

.section__title {
	margin: emCalc(20px) 0 emCalc(10px);
	border-bottom: 1px solid #fff;
	font-size: emCalc(30px);
	font-weight: 600;
}

.section__subtitle {
	margin: emCalc(10px) 0 emCalc(5px);
	font-size: emCalc(20px);
	font-weight: 300;
}